# Data loading

In [ ]:
!gdown --id 1MIKKj8Gi-xUwhsYt6xEV6FSmX0_Le8iL
!unzip -q 'data-storm-20.zip'

Downloading...
From: https://drive.google.com/uc?id=1MIKKj8Gi-xUwhsYt6xEV6FSmX0_Le8iL
To: /content/data-storm-20.zip
100% 1.23M/1.23M [00:00<00:00, 80.1MB/s]

# Libraries

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Data Analysis

## Basic

In [ ]:
df = pd.read_csv('Hotel-A-train.csv')
df.head()

   Reservation-id Gender  Age  ... Use_Promotion Discount_Rate Room_Rate
0        39428300      F   40  ...           Yes            10       218
1        77491756      F   49  ...            No             0       185
2        73747291      F   42  ...            No             0       119
3        67301739      M   25  ...           Yes             5       144
4        77222321      F   62  ...           Yes            10       242

[5 rows x 24 columns]

In [ ]:
df.dtypes

Reservation-id             int64
Gender                    object
Age                        int64
Ethnicity                 object
Educational_Level         object
Income                    object
Country_region            object
Hotel_Type                object
Expected_checkin          object
Expected_checkout         object
Booking_date              object
Adults                     int64
Children                   int64
Babies                     int64
Meal_Type                 object
Visted_Previously         object
Previous_Cancellations    object
Deposit_type              object
Booking_channel           object
Required_Car_Parking      object
Reservation_Status        object
Use_Promotion             object
Discount_Rate              int64
Room_Rate                  int64
dtype: object

In [ ]:
df.shape

(27499, 24)

In [ ]:
df.describe()

       Reservation-id           Age  ...  Discount_Rate     Room_Rate
count    2.749900e+04  27499.000000  ...   27499.000000  27499.000000
mean     5.016461e+07     43.977454  ...      12.495182    175.136478
std      2.886911e+07     15.303148  ...      11.206036     43.877087
min      3.154000e+03     18.000000  ...       0.000000    100.000000
25%      2.523943e+07     31.000000  ...       5.000000    137.000000
50%      5.014996e+07     44.000000  ...      10.000000    175.000000
75%      7.518288e+07     57.000000  ...      20.000000    214.000000
max      9.999900e+07     70.000000  ...      40.000000    250.000000

[8 rows x 7 columns]

In [ ]:
df.isnull().sum()

Reservation-id            0
Gender                    0
Age                       0
Ethnicity                 0
Educational_Level         0
Income                    0
Country_region            0
Hotel_Type                0
Expected_checkin          0
Expected_checkout         0
Booking_date              0
Adults                    0
Children                  0
Babies                    0
Meal_Type                 0
Visted_Previously         0
Previous_Cancellations    0
Deposit_type              0
Booking_channel           0
Required_Car_Parking      0
Reservation_Status        0
Use_Promotion             0
Discount_Rate             0
Room_Rate                 0
dtype: int64

## Unique categories

In [ ]:
df.dtypes

Reservation-id             int64
Gender                    object
Age                        int64
Ethnicity                 object
Educational_Level         object
Income                    object
Country_region            object
Hotel_Type                object
Expected_checkin          object
Expected_checkout         object
Booking_date              object
Adults                     int64
Children                   int64
Babies                     int64
Meal_Type                 object
Visted_Previously         object
Previous_Cancellations    object
Deposit_type              object
Booking_channel           object
Required_Car_Parking      object
Reservation_Status        object
Use_Promotion             object
Discount_Rate              int64
Room_Rate                  int64
dtype: object

In [ ]:
df.columns

Index(['Reservation-id', 'Gender', 'Age', 'Ethnicity', 'Educational_Level',
       'Income', 'Country_region', 'Hotel_Type', 'Expected_checkin',
       'Expected_checkout', 'Booking_date', 'Adults', 'Children', 'Babies',
       'Meal_Type', 'Visted_Previously', 'Previous_Cancellations',
       'Deposit_type', 'Booking_channel', 'Required_Car_Parking',
       'Reservation_Status', 'Use_Promotion', 'Discount_Rate', 'Room_Rate'],
      dtype='object')

In [ ]:
object_cols = ['Gender', 'Ethnicity', 'Educational_Level',
       'Income', 'Country_region', 'Hotel_Type', 
       'Meal_Type', 'Visted_Previously', 'Previous_Cancellations',
       'Deposit_type', 'Booking_channel', 'Required_Car_Parking',
       'Reservation_Status', 'Use_Promotion'] 

dates = ['Expected_checkin', 'Expected_checkout', 'Booking_date',]

len(object_cols), len(dates)

(14, 3)

In [ ]:
for col in object_cols:
  print(col)
  print(pd.unique(df[col]), '\n')

Gender
['F' 'M']

Ethnicity
['Latino' 'caucasian' 'African American' 'Asian American']

Educational_Level
['Grad' 'Mid-School' 'College' 'High-School']

Income
['<25K' '50K -- 100K' '>100K' '25K --50K']

Country_region
['North' 'East' 'South' 'West']

Hotel_Type
['City Hotel' 'Airport Hotels' 'Resort']

Meal_Type
['BB' 'FB' 'HB']

Visted_Previously
['No' 'Yes']

Previous_Cancellations
['No' 'Yes']

Deposit_type
['No Deposit' 'Refundable' 'Non-Refundable']

Booking_channel
['Online' 'Agent' 'Direct']

Required_Car_Parking
['Yes' 'No']

Reservation_Status
['Check-In' 'Canceled' 'No-Show']

Use_Promotion
['Yes' 'No']

## Feature Engineering

Converting to Datetime Objects

In [ ]:
df[dates[0]] = pd.to_datetime(df[dates[0]])
df[dates[1]] = pd.to_datetime(df[dates[1]])
df[dates[2]] = pd.to_datetime(df[dates[2]])

In [ ]:
df.head(2)

   Reservation-id Gender  Age  ... Use_Promotion Discount_Rate Room_Rate
0        39428300      F   40  ...           Yes            10       218
1        77491756      F   49  ...            No             0       185

[2 rows x 24 columns]

In [ ]:
dates

['Expected_checkin', 'Expected_checkout', 'Booking_date']

Adding Expected stay Column

In [ ]:
df['Expected_stay'] = (df[dates[1]] - df[dates[0]]).dt.days
df['Expected_stay'].unique()

array([1, 4, 3, 2])

Adding Days between Reservation and Checking in Column

In [ ]:
df['Booking_to_checkingin'] = (df[dates[0]] - df[dates[2]]).dt.days

In [ ]:
#df['Booking_to_checkingin'] .unique()

Finding the weekend stays

In [ ]:
weekdayin = df[dates[0]].dt.dayofweek

weekdayout = df[dates[1]].dt.dayofweek
from pandas import DataFrame

fina = []
for x,y in zip(weekdayin, weekdayout):
  t = []
  if y >= x:
    for i in range(x, y + 1):
      t.append(i)
    if 5 in t or 6 in t:
      fina.append(1)
    else:
      fina.append(0)
  else:
    for i in range(x, 7):
      t.append(i)
    for j in range(0, y + 1):
      t.append(i)
    if 5 in t or 6 in t:
      fina.append(1)
    else:
      fina.append(0)
xf = DataFrame (fina,columns=['weekend_stay'])
df['weekend_stay'] = xf

In [ ]:
xf

       weekend_stay
0                 0
1                 0
2                 1
3                 0
4                 1
...             ...
27494             0
27495             0
27496             0
27497             0
27498             0

[27499 rows x 1 columns]

Month of Staying

In [ ]:
df['Month_of_stay'] = df[dates[0]].dt.month

In [ ]:
df.head(5)

   Reservation-id Gender  ...  weekend_stay Month_of_stay
0        39428300      F  ...             0             7
1        77491756      F  ...             0             7
2        73747291      F  ...             1             7
3        67301739      M  ...             0             7
4        77222321      F  ...             1             7

[5 rows x 28 columns]

In [ ]:
df.isnull().sum()

Reservation-id            0
Gender                    0
Age                       0
Ethnicity                 0
Educational_Level         0
Income                    0
Country_region            0
Hotel_Type                0
Expected_checkin          0
Expected_checkout         0
Booking_date              0
Adults                    0
Children                  0
Babies                    0
Meal_Type                 0
Visted_Previously         0
Previous_Cancellations    0
Deposit_type              0
Booking_channel           0
Required_Car_Parking      0
Reservation_Status        0
Use_Promotion             0
Discount_Rate             0
Room_Rate                 0
Expected_stay             0
Booking_to_checkingin     0
weekend_stay              0
dtype: int64